.Person {
    padding: 10px;
    margin: 1.5%;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    box-sizing: border-box;
    width: 30%;
    text-align: center;
    display: inline-block;
}